.modal-dialog {
    margin-left: 30vw;
}

.modal-header {
    width: 40vw;
    min-width: 40vw;
    height: 10vh;
    min-height: 10vh;
    max-height: 10vh;
}

.modal-content {
    width: 40vw;
    min-width: 40vw;
    height: 60vh;
    min-height: 60vh;
    max-height: 60vh;
    border-radius: 1vw;
}

.modal-content h1 {
    color:#fff;
    font-size:2vw;
    margin-top:.5vw;
}
.modal-header button {
    width: 1vw;
    min-width: 1vw;
    max-width: 1vw;
    height: 1vh;
    min-height: 1vh;
    max-height: 1vh;
}
@media (max-width:600px) {
    .modal {
        min-width: 80vw;
        margin-left: 5%;
        margin-top: 25%;
    }
    .modal-dialog {
        margin-left: 5vw;
    }
    
    .modal-header {
        width: 75vw;
        min-width: 75vw;
    }
    
    .modal-content {
        width: 80vw;
        min-width: 80vw;
        padding: 2vw;
        border-radius: 4vw;
    }
    
    .modal-content h1 {
        font-size:5vw;
        margin-top:2vw;
    }
}